@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: hsl(0, 0%, 0%);
  --clr-secondary: hsl(0, 0%, 100%);
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: hsl(0, 0%, 20%);
}

html.dark {
  background-color: #111;
  color: var(--clr-primary);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Heebo', sans-serif;
}

.toggle {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 6.25rem;
  cursor: pointer;
}

.toggle:hover {
  transform: scale(1.1);
  transition: all 400ms ease-in-out;
}

.toggle:focus {
  outline: none;
}

.clock__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 12.5rem;
  height: 12.5rem;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4.0625rem;
  width: 0.1875rem;
  background-color: var(--clr-primary);
  transform-origin: bottom center;
  transition: all 0, 5s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 6.25rem;
  background-color: hsl(6, 78%, 57%);
}

.center--point {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: hsl(6, 78%, 57%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center--point::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: var(--clr-primary);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.time {
  font-size: 3.75rem;
}

.date {
  color: hsl(0, 0%, 67%);
  font-size: 1rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.125rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  background-color: var(--clr-primary);
  color: var(--cl-secondary);
  font-size: 0.75rem;
  transition: all 0.5s ease-in;
}
